<!-- totop start -->
<%- partial('totop') %>
<!-- totop end -->

<!-- disqus start -->
<% if (page.layout == 'post' && theme.disqus_shortname && page.comments){ %>
<script type="text/javascript">
    var disqus_shortname = '<%= theme.disqus_shortname %>';
    var disqus_config = function () {
        this.page.url = '<%= config.url %>/<%= page.path %>';
        this.page.identifier = '/<%= page.path %>';
        this.page.title = '<%= page.title %>';
    };
    (function(){
        var d = document;
        var dsq = d.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
        (d.head || d.body).appendChild(dsq);
    })();
</script>
<% } %>
<!-- disqus end -->

<!-- 百度分享 start -->
<% if (theme.baidushare){ %>
<div id="article-share-box" class="article-share-box">
  <div id="bdshare" class="bdsharebuttonbox article-share-links">
    <a class="article-share-weibo" data-cmd="tsina" title="分享到新浪微博"></a>
    <a class="article-share-weixin" data-cmd="weixin" title="分享到微信"></a>
    <a class="article-share-qq" data-cmd="sqq" title="分享到QQ"></a>
    <a class="article-share-renren" data-cmd="renren" title="分享到人人网"></a>
    <a class="article-share-more" data-cmd="more" title="更多"></a>
  </div>
</div>
<script>window._bd_share_config={"common":{},"share":{"bdCustomStyle":"<%- url_for("/css/bdshare.css") %>"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];</script>
<% } %>
<!-- 百度分享 end -->

<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>

<% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox') %>
  <%- js('fancybox/jquery.fancybox.pack') %>
<% } %>

<% if (theme.mathjax){ %>
<%- partial('mathjax') %>
<% } %>
<%- js('js/script') %>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?eebaea29f083e5cc508252c0f12389ef";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
